/* This is the main css file for this website */

html {
    font-size: 62%;
}

@media only screen and (max-width: 720px) {
    html {
        font-size: 80%;
        /* color: red; */
        /* background-color: blueviolet; */
    }
    .kt-head {
        color: blueviolet;
        /* background-color: brown; */
    }
}


/* 
@media only screen and (max-width: 460px) {
    body {
        background-color: rgb(0, 0, 0);
    }
} */

body {
    background-color: aliceblue;
}

p {
    font-size: 2rem;
}


/* For the heading */

.kt-head {
    font-size: 4rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    text-align: center;
}

.kt-head-2 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}