/* This will be for handling the css of our website */


/* body {
    background-color: rgb(211, 211, 211);
    color: rgb(55, 43, 43);
}

h3 {
    font-size: 35px;
    text-align: center;
    font-weight: 200;
}

p {
    font-size: 20px;
    padding-left: 50px;
    font-weight: 100;
} */