html {
    font-size: 62%;
}

body {
    background-color: rgb(199, 163, 232);
}

.pg-title {
    font-size: 3rem;
    padding-top: 8rem;
    text-align: center;
}

@media only screen and (max-width: 370px) {
    .pg-title {
        font-size: 50%;
        /* color: red; */
        /* background-color: blueviolet; */
    }
}